<div class="breadcrumb_with_back_option ">
    <div class="breadcrumb ms-3 mb-0">
        <a routerLink="/timetable/SetCombinedContinuous"> Combined and Continuous Criteria </a> <span class="ms-1 me-1">/</span>
        Add Combined & Continuous Criteria
    </div>

</div>

<div class="content-wrapper">


    <div class="card">
        <form action="" [formGroup]="form">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Shift </mat-label>
                            <mat-select name="classes" (selectionChange)="getClassList()" formControlName="shift">
                                <div class="search-wraper">
                                    <input (input)="applyShiftFilter($event)" placeholder="Search Shift"
                                        class="form-control search-mat-option">
                                </div>

                                <mat-option *ngFor="let item of filteredShiftList" [value]="item.sftid" >
                                    {{item.shift}}
                                </mat-option>
                                <mat-option *ngIf="filteredShiftList.length === 0">No Data found</mat-option>

                            </mat-select>
                        </mat-form-field>
                        <div class="form-check-under-mat"
                            *ngIf="(form?.get('shift')?.touched || submitted) && form.get('shift')?.invalid">
                            <div class="text-danger">Shift is required</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Classes </mat-label>
                            <mat-select [formControl]="classFormControl" (selectionChange)="getClassSubjectList()"  (openedChange)="classMultiSelectChange($event)" multiple>
                                <div class="search-wraper">
                                    <input (input)="applyClassFilter($event)" placeholder="Search"
                                        class=" form-control search-mat-option" [formControl]="clasSearchTextboxControl">
                                </div>
                                <mat-select-trigger>
                                    {{ classFormControl.value?.[0] || '' }}
                                    <span *ngIf="(classFormControl.value?.length || 0) > 1"
                                        class="example-additional-selection">
                                        (+{{ (classFormControl.value?.length || 0) - 1 }} {{ classFormControl.value?.length === 2 ?
                                        'other' : 'others' }})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let item of ClassList" [value]="item.class" (onSelectionChange)="classSelectionChange($event)">{{ item.class}}</mat-option>
                                <mat-option *ngIf="ClassList.length === 0" disabled>No Data found</mat-option>

                            </mat-select>


                        </mat-form-field>
                        <div class="form-check-under-mat"
                            *ngIf="(form?.get('class')?.touched || submitted) && form.get('class')?.invalid">
                            <div class="text-danger">class is required</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Class - Subject - Staff </mat-label>
                            <mat-select multiple  [formControl]="staffFormControl"
                                (selectionChange)="getBindPeriodtable($event)" (openedChange)="multiSelectChange($event)">
                                <div class="search-wraper">
                                    <input (input)="applyClassStaffSubjectFilter($event)" placeholder="Search..."
                                        class="form-control search-mat-option" [formControl]="searchTextboxControl">
                                </div>
                                <mat-select-trigger>
                                    {{ staffFormControl.value?.[0] || '' }}
                                    <span *ngIf="(staffFormControl.value?.length || 0) > 1"
                                        class="example-additional-selection">
                                        (+{{ (staffFormControl.value?.length || 0) - 1 }} {{
                                            staffFormControl.value?.length === 2 ?
                                        'other' : 'others' }})
                                    </span>
                                </mat-select-trigger>
                                <!-- <mat-optgroup >
                                    <mat-form-field style="width:100%;">
                                      <input #search autocomplete="off" placeholder="Search" aria-label="Search" matInput [formControl]="searchTextboxControl">
                                      <button [disableRipple]="true" *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch($event)">
                                      <mat-icon >close</mat-icon>
                                    </button>
                                           </mat-form-field>
                                      </mat-optgroup> -->
                                <mat-option *ngFor="let item of ClassStaffSubject" (onSelectionChange)="selectionChange($event)" 
                                    [value]="item.staff">{{item.staff}}</mat-option>
                                <mat-option *ngIf="ClassStaffSubject.length === 0" disabled>No Data found</mat-option>

                            </mat-select>
                        </mat-form-field>
                        <div class="form-check-under-mat"
                            *ngIf="(staffFormControl?.touched || submitted) && staffFormControl?.invalid">
                            <div class="text-danger">Class - Subject - Staff is required</div>
                        </div>
                    </div>

                </div>
                <div class="overflow-auto" *ngIf="data.length !=0">
                    <table class="table custum_table table-bordered">
                        <thead>
                            <tr>
                                <th>Days/ Periods </th>
                                <th *ngFor="let item of [].constructor(no_of_Periods);let i=index">{{i+1}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data[0].perioddetails;let i=index">
    
                                <td class="days_coloumn">{{Days[i]}}</td>
                                <td *ngFor="let period of item;let j=index" (dblclick)=" period != '' ? onCellDoubleClick(i,j) : ''"
                                [ngStyle]="{'background-color': period == '' ? 'gainsboro' : '' , 'color' : period == 'R' ? 'green' : ''  }">
                                    {{period!='0' ? period : '' }}</td>
                            </tr>
    
                        </tbody>
                    </table>
    
    
    
                </div>

            </div>

            <div class="card-footer">
                <div class="btns text-end">
                    <button class="btn btn-primary " (click)="SaveCombineddates()" [disabled]="data.length ==0">Save</button>
                    <button class="btn btn-secondary ms-2" routerLink="/timetable/SetCombinedContinuous">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>