<div class="breadcrumb_with_back_option ">
    <div class="breadcrumb ms-3 mb-0">
        <a routerLink="/SetCombinedContinuous"> Combined and Continuous Criteria </a> <span class="ms-1 me-1">/</span>
        Add Combined & Continuous Criteria
    </div>

</div>

<div class="content-wrapper">


    <div class="card">
        <form action="" [formGroup]="form">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Shift </mat-label>
                            <mat-select name="classes" (selectionChange)="getClassList()" formControlName="shift">
                                <div class="search-wraper">
                                    <input matInput placeholder="Search Shift" (input)="applyShiftFilter($event)"
                                        class="search-mat-option">
                                </div>

                                <mat-option *ngFor="let item of filteredShiftList" [value]="item.sftid">
                                    {{item.shift}}
                                </mat-option>
                                <mat-option *ngIf="filteredShiftList.length === 0">No Data found</mat-option>

                            </mat-select>
                        </mat-form-field>
                        <div class="form-check-under-mat"
                            *ngIf="form?.get('shift')?.touched && form.get('shift')?.invalid">
                            <div class="text-danger">Shift is required</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Classes </mat-label>
                            <mat-select (selectionChange)="getClassSubjectList()" formControlName="class" multiple>
                                <div class="search-wraper">
                                    <input matInput (input)="applyClassFilter($event)" placeholder="Search"
                                        class="search-mat-option">
                                </div>
                                <mat-select-trigger>
                                    {{ form.value.class?.[0] || '' }}
                                    <span *ngIf="(form.value.class?.length || 0) > 1"
                                        class="example-additional-selection">
                                        (+{{ (form.value.class?.length || 0) - 1 }} {{ form.value.class?.length === 2 ?
                                        'other' : 'others' }})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let item of ClassList" [value]="item.class">{{ item.class
                                    }}</mat-option>
                                <mat-option *ngIf="ClassList.length === 0" disabled>No Data found</mat-option>

                            </mat-select>


                        </mat-form-field>
                        <div class="form-check-under-mat"
                            *ngIf="form?.get('class')?.touched && form.get('class')?.invalid">
                            <div class="text-danger">class is required</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Class - Subject - Staff </mat-label>
                            <mat-select multiple formControlName="subjectClass">
                                <div class="search-wraper">
                                    <input matInput (input)="applyClassStaffSubjectFilter($event)" placeholder="Search"
                                        class="search-mat-option">
                                </div>
                                <mat-select-trigger>
                                    {{ form.value.subjectClass?.[0] || '' }}
                                    <span *ngIf="(form.value.subjectClass?.length || 0) > 1"
                                        class="example-additional-selection">
                                        (+{{ (form.value.subjectClass?.length || 0) - 1 }} {{ form.value.subjectClass?.length === 2 ?
                                        'other' : 'others' }})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let item of ClassStaffSubject" [value]="item.staff">{{item.staff}}</mat-option>
                                <mat-option *ngIf="ClassStaffSubject.length === 0" disabled>No Data found</mat-option>

                            </mat-select>
                        </mat-form-field>
                        <div class="form-check-under-mat"
                            *ngIf="form?.get('subjectClass')?.touched && form.get('subjectClass')?.invalid">
                            <div class="text-danger">Class - Subject - Staff is required</div>
                        </div>
                    </div>

                </div>

                <div class="overflow-auto">
                    <table class="table custum_table">
                        <thead>
                            <tr>
                                <th>Days/ Periods </th>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Day 1
                                </td>
                                <td>UKG AA-sub1-BKMS0100</td>
                                <td> </td>
                                <td>UKG AA-sub2-BKMS0107</td>

                            </tr>
                            <tr>
                                <td>
                                    Day 2
                                </td>
                                <td>UKG AA-sub1-BKMS0100</td>
                                <td> </td>
                                <td>UKG AA-sub2-BKMS0107</td>

                            </tr>
                            <tr>
                                <td>
                                    Day 3
                                </td>
                                <td>UKG AA-sub1-BKMS0100</td>
                                <td> </td>
                                <td>UKG AA-sub2-BKMS0107</td>

                            </tr>
                            <tr>
                                <td>
                                    Day 4
                                </td>
                                <td class="text-success">R</td>
                                <td> </td>
                                <td>UKG AA-sub2-BKMS0107</td>

                            </tr>
                            <tr>
                                <td>
                                    Day 5
                                </td>
                                <td>UKG AA-sub1-BKMS0100</td>
                                <td> </td>
                                <td class="text-success">R</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="card-footer">
                <div class="btns text-end">
                    <button class="btn btn-primary ">Save</button>

                    <button class="btn btn-secondary ms-2" routerLink="/SetCombinedContinuous">Cancel</button>

                </div>
            </div>
        </form>
    </div>
</div>