<div class="breadcrumb_with_back_option ">
    <div class="breadcrumb ms-3 mb-0">
        Manual Adjustment
    </div>

</div>

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-3">
            <!-- non-fixed-periods -->
            <div class="card h-auto non-fixed-periods ">
                <div class="card-header fw-bold ">
                    Non Fixed Periods
                </div>
                <div class="card-body fixed_body_scroll" *ngIf="BindNonFixPeriodsList">
                    <ul class="list-group" *ngFor="let staff of BindNonFixPeriodsList" cdkDropList >
                        <li class="list-group-item" cdkDrag *ngIf="staff"  [cdkDragData]="staff">{{staff.staff}}</li>
                    </ul>
                    <div *ngIf="BindNonFixPeriodsList.length == 0" class="text-center p-3 text-danger">No data
                        available!
                    </div>
                </div>
                <!-- <div class="card-body fixed_body_scroll" *ngIf="BindNonFixPeriodsList">
                    <ul class="list-group" cdkDropList (cdkDropListDropped)="onDrop($event)">
                      <li class="list-group-item" *ngFor="let staff of BindNonFixPeriodsList" cdkDrag [cdkDragData]="staff.staffid">
                        {{ staff.staff }}
                      </li>
                    </ul>
                    <div *ngIf="BindNonFixPeriodsList.length == 0" class="text-center p-3 text-danger">
                      No data available!
                    </div>
                  </div> -->
                  

            </div>
        </div>
        <div class="col-lg-9">

            <div class="card ">
                <div class="card-body">
                    <div class="text-end">
                        <p class="text-warning-custum"><b>HINTS:</b> Double click on the cell to highlight the free
                            periods
                            of the staff
                        </p>
                    </div>
                    <div class="" *ngFor="let classData of BindGridManualAdjustment; let i = index">
                        <p class="classes text-primary fw-bold">{{ classData.classes }}</p>
                        <div class="overflow-auto">
                            <table class="table custum_table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>Days/Periods</th>
                                        <th
                                            *ngFor="let period of generateArray(+classData.noofPeriods); let periodIndex = index">
                                            Period {{ periodIndex + 1 }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of generateArray(+classData.noofDays); let rowIndex = index"
                                        [cdkDropListConnectedTo]="classData.timetableData.split('#')[rowIndex].split('@')"
                                        cdkDropList #List[rowIndex]="cdkDropList"
                                        (cdkDropListDropped)="onDrop($event, classData.timetableData.split('#'))"
                                        [cdkDropListData]="classData.timetableData.split('#')[rowIndex].split('@')">

                                        <td cdkDrag [ngClass]="colIndex==0 ? 'days_coloumn' : ' '"
                                            [cdkDragData]="colIndex"
                                            (cdkDragMoved)="dragMoved(rowIndex,getSubject(classData.timetableData, rowIndex, colIndex), $event, colIndex, classData)"
                                            *ngFor="let col of generateArray(+classData.noofPeriods +1); let colIndex = index"
                                            [cdkDragDisabled]="shouldDisableDrag(rowIndex, colIndex, getSubject(classData.timetableData, rowIndex, colIndex))"
                                            [ngStyle]="{'background-color':getSubject(classData.timetableData, rowIndex, colIndex) == 'Break' ? 'lightgray' : '' }">
                                            {{ getSubject(classData.timetableData, rowIndex, colIndex).split("^")[0] }}
                                            <span style="display: none;"> {{ getSubject(classData.timetableData,
                                                rowIndex, colIndex).split("^")[1] ? getSubject(classData.timetableData,
                                                rowIndex, colIndex).split("^")[1] : colIndex }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            
                                
                            </table>
                        </div>
                    </div>
                    <div *ngIf="!BindGridManualAdjustment" class="text-center p-3 text-danger"> No data Available!
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>