<div class="breadcrumb_with_back_option ">
    <div class="breadcrumb ms-3 mb-0">
        <a routerLink="/FixCriteria"> Fix Criteria</a> <span class="ms-1 me-1">/</span> Add Fix Criteria
    </div>

</div>

<div class="content-wrapper">


    <div class="card">
        <div class="card-body">

            <form action="" [formGroup]="form">
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Class </mat-label>
                            <mat-select [(ngModel)]="selectedValue1" formControlName="classes" name="classes"
                                (selectionChange)="getSubjectList($event.value)">
                               <div class="search-wraper">
                                <input  placeholder="Search Class" 
                                (input)="applyClassFilter($event)" class="form-control search-mat-option">
                               </div>
                                
                                <mat-option *ngFor="let classes of filteredClassList" [value]="classes.classid">
                                    {{classes.class}}
                                </mat-option>
                                <mat-option *ngIf="filteredClassList.length === 0">No Data found</mat-option>

                            </mat-select>

                        </mat-form-field>
                        <div class="form-check-under-mat"
                            *ngIf="form.get('classes').touched && form.get('classes').invalid">
                            <div class="text-danger">Class is required</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Subject </mat-label>
                            <mat-select [(ngModel)]="selectedValue2" formControlName="subjectList" name="subjectList"
                                (selectionChange)="getStaffListdata($event.value)">
                                <div class="search-wraper">
                                    <input  placeholder="Search Subject" 
                                    (input)="applySubjectFilter($event)" class="form-control search-mat-option">
                                </div>
                                <mat-option *ngFor="let subjects of filteredSubjectList" [value]="subjects.subjectid">
                                    {{subjects.subjectcode}}
                                </mat-option>
                                <mat-option *ngIf="filteredSubjectList.length === 0">No Data found</mat-option>

                            </mat-select>
                        </mat-form-field>
                        <div class="form-check-under-mat"
                            *ngIf="form.get('subjectList').touched && form.get('subjectList').invalid">
                            <div class="text-danger">Subject is required</div>
                        </div>


                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Staff </mat-label>
                            <mat-select [(ngModel)]="selectedValue3" formControlName="staffs" name="staffs"
                                (selectionChange)="getBindTableData($event.value)">
                               <div class="search-wraper">
                                <input  placeholder="Search Staff" 
                                (input)="applyStaffFilter($event)" class="form-control search-mat-option">
                               </div>
                                <mat-option *ngFor="let staffs of filteredStaffList" [value]="staffs.staffId">
                                    {{staffs.staff}}
                                </mat-option>
                                <mat-option *ngIf="filteredStaffList.length === 0">No Data found</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="form-check-under-mat"
                            *ngIf="form.get('staffs').touched && form.get('staffs').invalid">
                            <div class="text-danger">Staff is required</div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="d-flex">
                            <div class="">
                                <div class="form-check">
                                    <input type="radio" formControlName="Reserve" name="Reserve" value="R"
                                        [(ngModel)]="selectedAction" class="form-check-input" id="Reserve">
                                    <label for="Reserve" class="form-check-label">Reserve</label>
                                </div>
                            </div>
                            <div class="ms-4">
                                <div class="form-check">
                                    <input type="radio" formControlName="Reserve" name="Reserve" value="X"
                                        [(ngModel)]="selectedAction" class="form-check-input" id="Avoid">
                                    <label for="Avoid" class="form-check-label">Avoid</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>


            <div class="overflow-auto" *ngIf="data.length !=0">
                <table class="table custum_table table-bordered">
                    <thead>
                        <tr>
                            <th>Days/ Periods </th>
                            <th *ngFor="let item of [].constructor(no_of_Periods);let i=index">{{i+1}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data[0].perioddetails;let i=index">

                            <td class="days_coloumn">{{Days[i]}}</td>
                            <td *ngFor="let period of item;let j=index" (dblclick)=" period != '' ? onCellDoubleClick(i,j) : ''"
                            [ngStyle]="{'background-color': period == '' ? 'gainsboro' : '' , 'color' : (period == 'R' ? 'green' : (period == 'X' ? 'red' : ''))  }">
                                {{period!='0' ? period : '' }}</td>
                        </tr>

                    </tbody>
                </table>



            </div>
            <!-- (click)="cellClick(i,j)" -->

            <!-- <label>
                <input type="radio" name="action" value="R" [(ngModel)]="selectedAction"> Reserved
            </label>
            <label>
                <input type="radio" name="action" value="A" [(ngModel)]="selectedAction"> Avoid
            </label>
            <br><br>
            <table class="table table-bordered">
                <tbody>
                    <tr *ngFor="let row of tableData; let rowIndex = index">
                        <td *ngFor="let cell of row; let colIndex = index"
                            (dblclick)="onCellDoubleClick(rowIndex, colIndex)">{{ cell }}</td>
                    </tr>
                </tbody>
            </table> -->

        </div>

        <div class="card-footer">
            <div class="btns text-end">
                <button class="btn btn-primary " (click)="SavePeriods()">Save</button>
                <button class="btn btn-secondary ms-2" routerLink="/FixCriteria">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" 
                        type="button"></button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template> -->