.mat-form-field {
    width: 100% !important;
}

.custum_table {


    tbody {
        vertical-align: middle;
    }
}

.search-mat-option {
    padding: 10px;
    width: 96.5%;
    background: lightgrey;
    
}

.days_coloumn {
    background-color: #6d6fcd;
    color: azure;
}