<div class="breadcrumb_with_back_option ">
    <div class="breadcrumb ms-3 mb-0">
        Staff Replacement
    </div>

</div>

<div class="content-wrapper">


    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="alert alert-warning custum_auto_with_alert p-2" *ngIf="ttlPercentage">
                    <p class="mb-0 fw-bold"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg> {{ttlPercentage}}</p>
                </div>
            </div>
            <form action="" [formGroup]="form">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Staff</mat-label>
                            <mat-select formControlName="Staff" name="Staff" (selectionChange)="getBindGridList($event.value)">
                                <div class="search-wraper">
                                    <input  placeholder="Search Staff" 
                                    (input)="applyStaffFilter($event)" class="form-control search-mat-option">
                                   </div>
                                <mat-option *ngFor="let staff of filteredstaffList" [value]="staff.staffNo">
                                    {{ staff.staff }}
                                </mat-option>
                                <mat-option *ngIf="filteredstaffList.length === 0">No Data found</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Staff Replace </mat-label>
                            <mat-select formControlName="replace" name="replace">
                                <div class="search-wraper">
                                    <input  placeholder="Search Staff Replace" 
                                    (input)="applyStaffReplaceFilter($event)" class="form-control search-mat-option">
                                   </div>
                                <mat-option *ngFor="let Replace of filteredstaffReplaceList" [value]="Replace.staffNo">
                                    {{Replace.staff}}
                                </mat-option>
                                <mat-option *ngIf="filteredstaffReplaceList.length === 0">No Data found</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-info mb-3"  [disabled]="ttlPercentage" (click)="replacestafbtn()">Replace</button>
                    </div>
                </div>
            </form>
<!-- [disabled]="ttlPercentage" -->


            <div class="overflow-auto" *ngIf="BindGridList">
                <table class="table custum_table">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Subject Code</th>
                            <th>Period</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of BindGridList">
                            <td>{{item.classes}}</td>
                            <td>{{item.subjectcode}}</td>
                            <td>{{item.period}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>





</div>