<div class="breadcrumb_with_back_option ">
    <div class="breadcrumb ms-3 mb-0">
        Staff Replacement
    </div>

</div>

<div class="content-wrapper">


    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <mat-form-field appearance="outline">
                        <mat-label>Staff</mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="Staff">
                            <mat-option *ngFor="let Staff of Staff" [value]="Staff.value">
                                {{Staff.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-5">
                    <mat-form-field appearance="outline">
                        <mat-label>Staff Replace </mat-label>
                        <mat-select [(ngModel)]="selectedValuereplace" name="Replace">
                            <mat-option *ngFor="let Replace of Replace" [value]="Replace.value">
                                {{Replace.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-info mb-3">Replace</button>
                </div>
            </div>


            <div class="overflow-auto">
                <table class="table custum_table">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Subject Code</th>
                            <th>Period</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>I Class Mary A </td>
                            <td>ENGCM</td>
                            <td>7</td>
    
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>





</div>