.mat-form-field {
    width: 100% !important;
}
.custum_auto_with_alert{
    width: fit-content;
    text-align: center;
}
.search-wraper {
    width: 100%;
    background-color: #6d6fcdbd;
    height: 40px;
    display: flex;
    align-items: center;

    .form-control {
        background-color: #6d6fcdbd;
        color: white;
    }
}

.search-mat-option {
    padding-left: 5px;
    width: -webkit-fill-available;
    color: white;

    &::placeholder {
        color: white;
    }
}