.mat-form-field {
    width: 100% !important;
}
.example-form-field {
    margin: 0 8px 16px 0;
  }
  ::ng-deep.mat-form-field-type-mat-date-range-input .mat-form-field-infix {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
}

.example-form-field{
  margin: 0 0px -2px 0 !important;
}

.search-wraper {
  width: 100%;
  background-color: #6d6fcdbd;
  height: 40px;
  display: flex;
  align-items: center;

  .form-control {
      background-color: #6d6fcdbd;
      color: white;
  }
}

.search-mat-option {
  padding-left: 5px;
  width: -webkit-fill-available;
  color: white;

  &::placeholder {
      color: white;
  }
}
::ng-deep .mat_wrapper .mat-form-field-wrapper{
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}