<div class="breadcrumb_with_back_option ">
    <div class="breadcrumb ms-3 mb-0">
        Create Shift Timing
    </div>
</div>
<div class="content-wrapper p-3">

    <div class="d-flex justify-content-between align-items-center">
        <div class="col-lg-2">
            <mat-form-field>
                <mat-label>Search...</mat-label>
                <input matInput (keyup)="onFilter($event)" placeholder="Search" #input>
            </mat-form-field>
        </div>
        <div class="ms-2">
            <button class="btn btn-success" (click)="onAdd()" data-bs-toggle="modal"
                data-bs-target="#addCreateShift">Add</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="text-end">
                <button mat-button color="primary" (click)="openDialog()" class="mb-2">Import Shift Timing </button>
            </div>
            <div class="overflow-auto">
                <table mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef> Timetable Name </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container>
                                {{ element.timetable_Name }}
                            </ng-container>

                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Active">
                        <th mat-header-cell *matHeaderCellDef> Is Active </th>
                        <td mat-cell *matCellDef="let element"> <ng-container>
                                {{element.is_Active}}
                            </ng-container> </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <div class="d-flex align-items-center">
                                <button mat-icon-button class="text-success" data-bs-toggle="modal"
                                    (click)="onEdit(element.clstid)" data-bs-target="#addCreateShift"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                    </svg></button>
                                <button mat-icon-button class="text-danger" (click)="onDelete(element.clstid)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                    </svg>
                                </button>
                                <button mat-icon-button class="text-info"
                                    (click)="onAddShift(element.clstid, element.timetable_Name, element.is_Active)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path
                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path
                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="3" style="text-align: center;">No data found!
                        </td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCreateShift" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-zoom " role="document">
        <div class="modal-content custum_modal_dialog">
            <div class="modal-header">
                <h2 *ngIf="!form.value.clstid" class="modal-title mb-0" id="exampleModalLabel">Add Shift Timing </h2>
                <h2 *ngIf="form.value.clstid" class="modal-title mb-0" id="exampleModalLabel">Update Shift Timing </h2>
                <button type="button" mat-mini-fab color="secondary" data-bs-dismiss="modal" class="custum_modal_close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="">Timetable Name <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" placeholder="Timetable Name"
                                    formControlName="timetable_Name">
                                <span style="color: red;"
                                    *ngIf="(formControl.timetable_Name.touched || submitted) && formControl.timetable_Name.errors?.required">
                                    Timetable Name is required
                                </span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" #closeModal data-bs-dismiss="modal">Close</button>
                <button type="button" mat-raised-button color="primary" class="ms-2" (click)="onSubmit()">Save </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editCreateShift" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-zoom " role="document">
        <div class="modal-content custum_modal_dialog">
            <div class="modal-header">
                <h2 class="modal-title mb-0" id="exampleModalLabel">Edit Shift Timing </h2>
                <button type="button" mat-mini-fab color="secondary" data-bs-dismiss="modal" class="custum_modal_close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Timetable Name</label>
                            <input type="text" class="form-control" placeholder="Timetable Name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Status</label>
                            <select name="" id="" class="form-control">
                                <option value="">In Active</option>
                                <option value="">Active</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" mat-raised-button color="primary" class="ms-2">Update</button>
            </div>
        </div>
    </div>
</div>