<div class="breadcrumb_with_back_option ">
    <div class="breadcrumb ms-3 mb-0">
        <a routerLink="/StaffCombinedCriteria"> Staff Combined Criteria </a> <span class="ms-1 me-1">/</span>
        Add Staff Combined Criteria
    </div>

</div>

<div class="content-wrapper">
    <div class="alert alert-warning" role="alert" *ngIf="isShowWarningMsg">
        Staff is not assigned or assigned staff have left the school
      </div>
    <form action="" [formGroup]="form">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <!-- <mat-form-field appearance="outline">
                        <mat-label>Class <span class="text-danger">*</span></mat-label>
                        <mat-select [(ngModel)]="selectedValue1" name="classes">
                            <mat-option *ngFor="let classes of classes" [value]="classes.value">
                                {{classes.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->

                        <mat-form-field appearance="outline">
                            <mat-label>Class </mat-label>
                            <mat-select name="class" (selectionChange)="getSubjectList()" formControlName="class">
                                <div class="search-wraper">
                                    <input (input)="applyShiftFilter($event)" placeholder="Search class"
                                        class="form-control search-mat-option">
                                </div>

                                <mat-option *ngFor="let item of filteredClassList" [value]="item.classid">
                                    {{item.class}}
                                </mat-option>
                                <mat-option *ngIf="filteredClassList.length === 0">No Data found</mat-option>

                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Subject </mat-label>
                            <mat-select name="subject" (selectionChange)="getStaffList()" formControlName="subject">
                                <div class="search-wraper">
                                    <input (input)="applySubjectFilter($event)" placeholder="Search Subject"
                                        class="form-control search-mat-option">
                                </div>

                                <mat-option *ngFor="let item of filteredSubjectList" [value]="item.subjectID">
                                    {{item.subjectCode}}
                                </mat-option>
                                <mat-option *ngIf="filteredSubjectList.length === 0">No Data found</mat-option>

                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col-lg-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Staff </mat-label>
                            <mat-select (selectionChange)="getBindPeriodsList()" formControlName="staff" multiple>
                                <div class="search-wraper">
                                    <input (input)="applyStaffFilter($event)" placeholder="Search"
                                        class=" form-control search-mat-option">
                                </div>
                                <mat-select-trigger>
                                    {{ form.value.staff?.[0] || '' }}
                                    <span *ngIf="(form.value.staff?.length || 0) > 1"
                                        class="example-additional-selection">
                                        (+{{ (form.value.staff?.length || 0) - 1 }} {{ form.value.staff?.length === 2 ?
                                        'other' : 'others' }})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let item of filteredStaffList" [value]="item.staff"
                                    [disabled]="item.disabled">{{ item.staff}}</mat-option>
                                <mat-option *ngIf="filteredStaffList.length === 0" disabled>No Data found</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                </div>

                <!-- <div class="overflow-auto">
                    <table class="table custum_table">
                        <thead>
                            <tr>
                                <th>Days/ Periods </th>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Day 1
                                </td>
                                <td>UKG AA-sub1-BKMS0100</td>
                                <td> </td>
                                <td>UKG AA-sub2-BKMS0107</td>

                            </tr>
                            <tr>
                                <td>
                                    Day 2
                                </td>
                                <td>UKG AA-sub1-BKMS0100</td>
                                <td> </td>
                                <td>UKG AA-sub2-BKMS0107</td>

                            </tr>
                            <tr>
                                <td>
                                    Day 3
                                </td>
                                <td>UKG AA-sub1-BKMS0100</td>
                                <td> </td>
                                <td>UKG AA-sub2-BKMS0107</td>

                            </tr>
                            <tr>
                                <td>
                                    Day 4
                                </td>
                                <td class="text-success">R</td>
                                <td> </td>
                                <td>UKG AA-sub2-BKMS0107</td>

                            </tr>
                            <tr>
                                <td>
                                    Day 5
                                </td>
                                <td>UKG AA-sub1-BKMS0100</td>
                                <td> </td>
                                <td class="text-success">R</td>

                            </tr>
                        </tbody>
                    </table>
                </div> -->

                <div class="overflow-auto" *ngIf="data.length !=0">
                    <table class="table custum_table table-bordered">
                        <thead>
                            <tr>
                                <th>Days/ Periods </th>
                                <th *ngFor="let item of [].constructor(no_of_Periods);let i=index">{{i+1}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data[0].perioddetails;let i=index">
    
                                <td class="days_coloumn">{{Days[i]}}</td>
                                <td *ngFor="let period of item;let j=index" (dblclick)=" period != '' ? onCellDoubleClick(i,j) : ''"
                                [ngStyle]="{'background-color': period == '' ? 'gainsboro' : '' , 'color' : period == 'R' ? 'green' : ''  }">
                                    {{period!='0' ? period : '' }}</td>
                            </tr>
    
                        </tbody>
                    </table>
    
    
    
                </div>

            </div>

            <div class="card-footer">
                <div class="btns text-end">
                    <button class="btn btn-primary " [disabled]="!form.valid && data.length == 0">Save</button>
                    <button class="btn btn-secondary ms-2" routerLink="/StaffCombinedCriteria">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>