th.mat-header-cell {
    text-align: left;
    color: white;
    font-size: 14px;
    width: 0%;
}

tr.mat-header-row {
    height: 36px;
    background: #4394e3;
    color: white;
}
.mat-form-field {
    width: 100% !important;
}