<div class="breadcrumb_with_back_option ">
    <div class="breadcrumb ms-3 mb-0">
        Process Timetable - TT ClassMary
    </div>
    <!-- <div class="back_action me-3">
        <button class="btn-outline-danger btn btn-sm" routerLink="/home"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg> Back</button>
    </div> -->
</div>

<div class="content-wrapper">
    <div class="d-flex align-items-center justify-content-between">
        <div>

        </div>
        <div class="pe-3">
            <button mat-raised-button class="bg-success text-white btn-sm"><svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path
                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg> Start</button>
            <button mat-raised-button class="bg-info text-white ms-2 btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-fast-forward-fill" viewBox="0 0 16 16">
                    <path
                        d="M7.596 7.304a.802.802 0 0 1 0 1.392l-6.363 3.692C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692Z" />
                    <path
                        d="M15.596 7.304a.802.802 0 0 1 0 1.392l-6.363 3.692C8.713 12.69 8 12.345 8 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692Z" />
                </svg>
                Continue</button>
            <button mat-raised-button color="primary" class="ms-2 btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                    <path
                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                </svg>
                Restart</button>

        </div>
    </div>

    <div class="mt-2">

        <div class="card ">
            <div class="card-body">
                <div class="overflow-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Break</th>
                                <th>Reserved</th>
                                <th>Combined & Continuous
                                </th>
                                <th>Staff Combined</th>
                                <th>Staff Substituted
                                </th>

                            </tr>
                        </thead>

                    </table>
                </div>
                <div class="">
                    <p class="text-primary fw-bold">TT 2023-2024 S3 </p>
                </div>

                <div class="overflow-auto">
                    <table class="table custum_table ">
                        <thead>
                            <tr>
                                <th>Days/ Periods</th>
                                <th>
                                    <p>Period 1</p> (9:00 AM to 9:45 AM)
                                </th>
                                <th>
                                    <p>Period 2</p> (9:45 AM to 10:30 AM)
                                </th>
                                <th class="break">
                                    <p>Period 3</p> (10:30 AM to 10:45 AM)
                                </th>
                                <th>
                                    <p>Period 4</p> (10:45 AM to 11:20 AM)
                                </th>
                                <th class="break">
                                    <p>Period 5</p> (12:30 PM to 01:15 PM)
                                </th>
                                <th>
                                    <p>Period 6</p> (02:45 PM to 03:15 PM)
                                </th>
                                <th>
                                    <p>Period 7</p> (03:15 PM to 3:50 PM)
                                </th>
                                <th>
                                    <p>Period 8</p> (03:15 PM to 3:50 PM)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="days_coloumn">Monday</td>
                                <td>I 0 - ENG (12345) </td>
                                <td>I 0 - EVS (BKMHSS140) </td>
                                <td class="break">Morning Break </td>
                                <td>I 0 - MAT (12345) </td>
                                <td class="break">Lunch Break </td>
                                <td>I 0 - TAM (BKMS0107) </td>
                                <td>I 0 - READ (BKMS0020) </td>
                                <td>I 0 - BIO (12345) </td>
                            </tr>
                            <tr>
                                <td class="days_coloumn">Tuesday</td>
                                <td>I 0 - ENG (12345) </td>
                                <td>I 0 - EVS (BKMHSS140) </td>
                                <td class="break">Morning Break </td>
                                <td>I 0 - MAT (12345) </td>
                                <td class="break">Lunch Break </td>
                                <td>I 0 - TAM (BKMS0107) </td>
                                <td>I 0 - READ (BKMS0020) </td>
                                <td>I 0 - BIO (12345) </td>
                            </tr>
                            <tr>
                                <td class="days_coloumn">Wednesday</td>
                                <td>I 0 - ENG (12345) </td>
                                <td>I 0 - EVS (BKMHSS140) </td>
                                <td class="break"> Morning Break </td>
                                <td>I 0 - MAT (12345) </td>
                                <td class="break"> Lunch Break </td>
                                <td>I 0 - TAM (BKMS0107) </td>
                                <td>I 0 - READ (BKMS0020) </td>
                                <td>I 0 - BIO (12345) </td>
                            </tr>
                            <tr>
                                <td class="days_coloumn">Thursday</td>
                                <td>I 0 - ENG (12345) </td>
                                <td>I 0 - EVS (BKMHSS140) </td>
                                <td class="break">Morning Break </td>
                                <td>I 0 - MAT (12345) </td>
                                <td class="break">Lunch Break </td>
                                <td>I 0 - TAM (BKMS0107) </td>
                                <td>I 0 - READ (BKMS0020) </td>
                                <td>I 0 - BIO (12345) </td>
                            </tr>
                            <tr>
                                <td class="days_coloumn">Friday</td>
                                <td>I 0 - ENG (12345) </td>
                                <td>I 0 - EVS (BKMHSS140) </td>
                                <td class="break">Morning Break </td>
                                <td>I 0 - MAT (12345) </td>
                                <td class="break">Lunch Break </td>
                                <td>I 0 - TAM (BKMS0107) </td>
                                <td>I 0 - READ (BKMS0020) </td>
                                <td>I 0 - BIO (12345) </td>
                            </tr>
                            <tr>
                                <td class="days_coloumn">Saturday</td>
                                <td>I 0 - ENG (12345) </td>
                                <td>I 0 - EVS (BKMHSS140) </td>
                                <td class="break">Morning Break </td>
                                <td>I 0 - MAT (12345) </td>
                                <td class="break">Lunch Break </td>
                                <td>I 0 - TAM (BKMS0107) </td>
                                <td>I 0 - READ (BKMS0020) </td>
                                <td>I 0 - BIO (12345) </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>