<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar_bg">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <div class="mobile_nav_toggle">
                    <button class="btn text-dark bg-white btn-sm" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <a class="navbar-brand ms-2">Smart School</a>
            </div>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" routerLink="/home"
                            [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [matMenuTriggerFor]="Edit">Edit</a>
                        <mat-menu #Edit="matMenu" class="mt-3">
                            <a mat-menu-item [matMenuTriggerFor]="Admin">Admin</a>
                            <a mat-menu-item>Academic Year</a>
                            <a mat-menu-item>Calendar</a>
                            <a mat-menu-item>Support Data</a>
                            <a mat-menu-item>Password</a>
                            <a mat-menu-item>Archive</a>
                            <a mat-menu-item>News and Circulars</a>
                            <a mat-menu-item>Holiday</a>
                            <a mat-menu-item>Chronicles</a>
                            <a mat-menu-item>View Portal Users</a>
                            <a mat-menu-item>Database Backups</a>
                        </mat-menu>
                        <mat-menu #Admin="matMenu">
                            <a mat-menu-item [matMenuTriggerFor]="StaffInterview">Staff Interview</a>
                            <a mat-menu-item [matMenuTriggerFor]="Appraisal">Appraisal</a>
                            <a mat-menu-item [matMenuTriggerFor]="Users">Users</a>

                        </mat-menu>

                        <mat-menu #StaffInterview="matMenu">
                            <a mat-menu-item routerLink="/applicantlist" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Applicants List</a>
                            <a mat-menu-item routerLink="/InterviewRecord" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Interview Record</a>
                        </mat-menu>
                        <mat-menu #Appraisal="matMenu">
                            <a mat-menu-item >Appraisal List</a>
                            <a mat-menu-item>Staff Appraisal</a>
                        </mat-menu>
                        <mat-menu #Users="matMenu">
                            <a mat-menu-item >Existing Users</a>
                            <a mat-menu-item>User Role</a>
                        </mat-menu>
                    </li>





                    <li class="nav-item" *ngIf="moduleName != 'Timtable'">
                        <a class="nav-link" [matMenuTriggerFor]="Module">Module</a>
                    </li>
                    <mat-menu #Module="matMenu" class="mt-3">
                        <a mat-menu-item>Student</a>
                        <a mat-menu-item>Student Attendance</a>
                        <a mat-menu-item>Staff</a>
                        <a mat-menu-item>Staff Attendance</a>
                        <a mat-menu-item>Examination</a>
                        <a mat-menu-item>Timetable</a>
                        <a mat-menu-item>Fee</a>
                        <a mat-menu-item>Transport</a>
                        <a mat-menu-item>Library</a>
                        <a mat-menu-item>SMS</a>
                        <a mat-menu-item>Inventory</a>
                        <a mat-menu-item>QuestionBank</a>
                        <a mat-menu-item>CCE</a>
                        <a mat-menu-item>Front Office</a>
                    </mat-menu>
                    <li class="nav-item" *ngIf="moduleName != 'Timtable'">
                        <a class="nav-link" [matMenuTriggerFor]="Tools">Tools</a>
                    </li>
                    <mat-menu #Tools="matMenu" class="mt-3">
                        <a mat-menu-item [matMenuTriggerFor]="Address">Address Book</a>
                    </mat-menu>

                    <mat-menu #Address="matMenu" class="mt-3">
                        <a mat-menu-item>Student Address Book</a>
                        <a mat-menu-item>Staff Address Book</a>
                    </mat-menu>
                    <li class="nav-item" *ngIf="moduleName != 'Timtable'">
                        <a class="nav-link" [matMenuTriggerFor]="Reports">Reports</a>
                    </li>
                    <mat-menu #Reports="matMenu" class="mt-3">
                        <a mat-menu-item>Create Shift Timing</a>
                        <a mat-menu-item>Criteria</a>
                        <a mat-menu-item>Set Combined & Continuous</a>
                        <a mat-menu-item>Define Staff Combined</a>
                        <a mat-menu-item>Create Timetable</a>
                        <a mat-menu-item>Process Timetable</a>

                    </mat-menu>
                    <li class="nav-item" *ngIf="moduleName != 'Timtable'">
                        <a class="nav-link" [matMenuTriggerFor]="Helps">Helps</a>
                    </li>
                    <mat-menu #Helps="matMenu" class="mt-3">
                        <a mat-menu-item>Create Shift Timing</a>
                        <a mat-menu-item>Criteria</a>
                        <a mat-menu-item>Set Combined & Continuous</a>
                        <a mat-menu-item>Define Staff Combined</a>
                        <a mat-menu-item>Create Timetable</a>
                        <a mat-menu-item>Process Timetable</a>

                    </mat-menu>
                    <li class="nav-item" *ngIf="moduleName == 'Timtable'">
                        <a class="nav-link" [matMenuTriggerFor]="Timetables">Timetables</a>
                    </li>

                    <mat-menu #Timetables="matMenu" class="mt-3">
                        <a mat-menu-item routerLink="/CreateShiftTiming" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Create Shift Timing</a>
                        <a mat-menu-item [matMenuTriggerFor]="Allotment" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Allotment</a>

                        <a mat-menu-item routerLink="/FixCriteria" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Fix Criteria</a>
                        <a mat-menu-item routerLink="/SetCombinedContinuous" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Set Combined & Continuous</a>
                        <a mat-menu-item routerLink="/StaffCombinedCriteria" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Define Staff Combined</a>
                        <a mat-menu-item [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Create
                            Timetable</a>
                        <a mat-menu-item routerLink="/ProcessTimetable" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Process
                            Timetable</a>
                        <a mat-menu-item routerLink="/ManualAdjustment" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Manual Adjustment</a>
                        <a mat-menu-item routerLink="/ImportTimeTable" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Import Timetables</a>
                        <a mat-menu-item routerLink="/TemporaryTimetable" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Create Temporary Timetable</a>
                        <a mat-menu-item routerLink="/StaffSubstitude" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Substitute Staff</a>
                        <a mat-menu-item routerLink="/OnlineMonitor" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Online Monitor</a>
                        <a mat-menu-item routerLink="/StaffReplacement" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Replace Staff</a>
                        <a mat-menu-item routerLink="/SearchStaffstudent" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Search Student/Staff</a>
                        <a mat-menu-item routerLink="/Customization" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Customize</a>
                        <a mat-menu-item [matMenuTriggerFor]="View" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">View</a>

                    </mat-menu>

                    <mat-menu #Allotment="matMenu">
                        <a mat-menu-item routerLink="/AllotSubject" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Allot Subject</a>
                        <a mat-menu-item routerLink="/StaffAllotment" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active"> Staff Allotment</a>
                        <a mat-menu-item routerLink="/ClasswiseStaffAllotment"
                            [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Classwise Staff
                            Alotment</a>

                    </mat-menu>
                    <mat-menu #View="matMenu">
                        <a mat-menu-item routerLink="/timetables" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">General Timetable</a>
                        <a mat-menu-item routerLink="/timetablebyclass" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Timetable by
                            Class</a>
                        <a mat-menu-item  routerLink="/timetablebysubject" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Timetable by
                            Subject</a>
                        <a mat-menu-item routerLink="/timetablebystaff" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Timetable by
                            Staff</a>
                    </mat-menu>
    


                    <!-- <li class="nav-item " *ngIf="moduleName == 'Timtable'">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Timetables
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" routerLink="/CreateShiftTiming"
                                        [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Create
                                        Shift Timing</a></li>



                                <li><a class=" dropdown-item dropdown-toggle" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Fix
                                        Criteria</a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" routerLink="/CreateShiftTiming"
                                                [routerLinkActiveOptions]="{ exact: true }"
                                                routerLinkActive="active">Create Shift Timing</a></li>
                                        <li><a class="dropdown-item" routerLink="/"
                                                [routerLinkActiveOptions]="{ exact: true }"
                                                routerLinkActive="active">Fix Criteria</a></li>
                                        <li><a class="dropdown-item" routerLink="/"
                                                [routerLinkActiveOptions]="{ exact: true }"
                                                routerLinkActive="active">Set Compained & Continous</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                        routerLinkActive="active">Set Compained & Continous</a></li>
                                <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                        routerLinkActive="active">Define Staff Compained</a></li>
                                <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                        routerLinkActive="active">Create Timetable</a></li>
                                <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                        routerLinkActive="active">Process Timetable</a></li>
                                <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                        routerLinkActive="active">Manual Adjustment </a></li>
                                <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                        routerLinkActive="active">Import Timetables </a></li>
                                <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                        routerLinkActive="active">Create Temporary Timetable </a></li>
                                <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                        routerLinkActive="active">Subscribe Staff </a></li>
                            </ul>
                        </div>

                    </li> -->
                    <li class="nav-item" *ngIf="moduleName == 'Timtable'">
                        <a class="nav-link" routerLink="/">Timetable Reports</a>
                    </li>
                </ul>

            </div>
            <div class="">
                <a class="nav-link" aria-current="page">
                    <span class="me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                        </svg>
                    </span>
                    Bangalore, India</a>
            </div>
            <div class="" (click)="logout()">
                <a class="nav-link " mat-button aria-current="page"><span class="me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                            <path fill-rule="evenodd"
                                d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                        </svg>
                    </span> <span class="mt-1">Logout</span></a>
            </div>

        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header d-flex justify-content-end">

            <button type="button" class="btn btn_close text-reset" data-bs-dismiss="offcanvas">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                </svg>
            </button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="/home"
                        [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [matMenuTriggerFor]="Edit">Edit</a>
                    <mat-menu #Edit="matMenu" class="mt-3">
                        <a mat-menu-item [matMenuTriggerFor]="Admin">Admin</a>
                        <a mat-menu-item>Academic Year</a>
                        <a mat-menu-item>Calendar</a>
                        <a mat-menu-item>Support Data</a>
                        <a mat-menu-item>Password</a>
                        <a mat-menu-item>Archive</a>
                        <a mat-menu-item>News and Circulars</a>
                        <a mat-menu-item>Holiday</a>
                        <a mat-menu-item>Chronicles</a>
                        <a mat-menu-item>View Portal Users</a>
                        <a mat-menu-item>Database Backups</a>
                    </mat-menu>
                    <mat-menu #Admin="matMenu">
                        <a mat-menu-item [matMenuTriggerFor]="StaffInterview">Staff Interview</a>
                        <a mat-menu-item [matMenuTriggerFor]="Appraisal">Appraisal</a>
                        <a mat-menu-item [matMenuTriggerFor]="Users">Users</a>

                    </mat-menu>

                    <mat-menu #StaffInterview="matMenu">
                        <a mat-menu-item routerLink="/applicantlist">Applicants List</a>
                        <a mat-menu-item>Interview Record</a>
                    </mat-menu>
                    <mat-menu #Appraisal="matMenu">
                        <a mat-menu-item >Appraisal List</a>
                        <a mat-menu-item>Staff Appraisal</a>
                    </mat-menu>
                    <mat-menu #Users="matMenu">
                        <a mat-menu-item >Existing Users</a>
                        <a mat-menu-item>User Role</a>
                    </mat-menu>


                </li>





                <li class="nav-item" *ngIf="moduleName != 'Timtable'">
                    <a class="nav-link" [matMenuTriggerFor]="Module">Module</a>
                </li>
                <mat-menu #Module="matMenu" class="mt-3">
                    <a mat-menu-item>Student</a>
                    <a mat-menu-item>Student Attendance</a>
                    <a mat-menu-item>Staff</a>
                    <a mat-menu-item>Staff Attendance</a>
                    <a mat-menu-item>Examination</a>
                    <a mat-menu-item>Timetable</a>
                    <a mat-menu-item>Fee</a>
                    <a mat-menu-item>Transport</a>
                    <a mat-menu-item>Library</a>
                    <a mat-menu-item>SMS</a>
                    <a mat-menu-item>Inventory</a>
                    <a mat-menu-item>QuestionBank</a>
                    <a mat-menu-item>CCE</a>
                    <a mat-menu-item>Front Office</a>




                </mat-menu>
                <li class="nav-item" *ngIf="moduleName != 'Timtable'">
                    <a class="nav-link" [matMenuTriggerFor]="Tools">Tools</a>
                </li>
                <mat-menu #Tools="matMenu" class="mt-3">
                    <a mat-menu-item [matMenuTriggerFor]="Address">Address Book</a>
                </mat-menu>

                <mat-menu #Address="matMenu" class="mt-3">
                    <a mat-menu-item>Student Address Book</a>
                    <a mat-menu-item>Staff Address Book</a>

                </mat-menu>
                <li class="nav-item" *ngIf="moduleName != 'Timtable'">
                    <a class="nav-link" [matMenuTriggerFor]="Reports">Reports</a>
                </li>
                <mat-menu #Reports="matMenu" class="mt-3">
                    <a mat-menu-item>Create Shift Timing</a>
                    <a mat-menu-item>Criteria</a>
                    <a mat-menu-item>Set Combined & Continuous</a>
                    <a mat-menu-item>Define Staff Combined</a>
                    <a mat-menu-item>Create Timetable</a>
                    <a mat-menu-item>Process Timetable</a>

                </mat-menu>
                <li class="nav-item" *ngIf="moduleName != 'Timtable'">
                    <a class="nav-link" [matMenuTriggerFor]="Helps">Helps</a>
                </li>
                <mat-menu #Helps="matMenu" class="mt-3">
                    <a mat-menu-item>Create Shift Timing</a>
                    <a mat-menu-item>Criteria</a>
                    <a mat-menu-item>Set Combined & Continuous</a>
                    <a mat-menu-item>Define Staff Combined</a>
                    <a mat-menu-item>Create Timetable</a>
                    <a mat-menu-item>Process Timetable</a>

                </mat-menu>
                <li class="nav-item" *ngIf="moduleName == 'Timtable'">
                    <a class="nav-link" [matMenuTriggerFor]="Timetables">Timetables</a>
                </li>

                <mat-menu #Timetables="matMenu" class="mt-3">
                    <a mat-menu-item routerLink="/CreateShiftTiming" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Create Shift Timing</a>
                    <a mat-menu-item [matMenuTriggerFor]="Allotment" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Allotment</a>

                    <a mat-menu-item routerLink="/FixCriteria" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Fix Criteria</a>
                    <a mat-menu-item routerLink="/SetCombinedContinuous" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Set Combained & Continuous</a>
                    <a mat-menu-item routerLink="/StaffCombinedCriteria" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Define Staff Combined</a>
                    <a mat-menu-item [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Create
                        Timetable</a>
                    <a mat-menu-item routerLink="/ProcessTimetable" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Process
                        Timetable</a>
                    <a mat-menu-item routerLink="/ManualAdjustment" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Manual Adjustment</a>
                    <a mat-menu-item routerLink="/ImportTimeTable" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Import Timetables</a>
                    <a mat-menu-item routerLink="/TemporaryTimetable" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Create Temporary Timetable</a>
                    <a mat-menu-item routerLink="/StaffSubstitude" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Substitute Staff</a>
                    <a mat-menu-item routerLink="/OnlineMonitor" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Online Monitor</a>
                    <a mat-menu-item routerLink="/StaffReplacement" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Replace Staff</a>
                    <a mat-menu-item routerLink="/SearchStaffstudent" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Search Student/Staff</a>
                    <a mat-menu-item routerLink="/Customization" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Customize</a>
                    <a mat-menu-item [matMenuTriggerFor]="View" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">View</a>

                </mat-menu>

                <mat-menu #Allotment="matMenu">
                    <a mat-menu-item routerLink="/AllotSubject" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Allot Subject</a>
                    <a mat-menu-item routerLink="/StaffAllotment" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"> Staff Allotment</a>
                    <a mat-menu-item routerLink="/ClasswiseStaffAllotment" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Classwise Staff
                        Alotment</a>

                </mat-menu>
                <mat-menu #View="matMenu">
                    <a mat-menu-item routerLink="/timetables" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">General Timetable</a>
                    <a mat-menu-item routerLink="/timetablebyclass" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Timetable by
                        Class</a>
                    <a mat-menu-item  routerLink="/timetablebysubject" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Timetable by
                        Subject</a>
                    <a mat-menu-item routerLink="/timetablebystaff" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Timetable by
                        Staff</a>
                </mat-menu>


                <!-- <li class="nav-item " *ngIf="moduleName == 'Timtable'">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Timetables
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" routerLink="/CreateShiftTiming"
                                    [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Create
                                    Shift Timing</a></li>



                            <li><a class=" dropdown-item dropdown-toggle" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Fix
                                    Criteria</a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" routerLink="/CreateShiftTiming"
                                            [routerLinkActiveOptions]="{ exact: true }"
                                            routerLinkActive="active">Create Shift Timing</a></li>
                                    <li><a class="dropdown-item" routerLink="/"
                                            [routerLinkActiveOptions]="{ exact: true }"
                                            routerLinkActive="active">Fix Criteria</a></li>
                                    <li><a class="dropdown-item" routerLink="/"
                                            [routerLinkActiveOptions]="{ exact: true }"
                                            routerLinkActive="active">Set Compained & Continous</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                    routerLinkActive="active">Set Compained & Continous</a></li>
                            <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                    routerLinkActive="active">Define Staff Compained</a></li>
                            <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                    routerLinkActive="active">Create Timetable</a></li>
                            <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                    routerLinkActive="active">Process Timetable</a></li>
                            <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                    routerLinkActive="active">Manual Adjustment </a></li>
                            <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                    routerLinkActive="active">Import Timetables </a></li>
                            <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                    routerLinkActive="active">Create Temporary Timetable </a></li>
                            <li><a class="dropdown-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                                    routerLinkActive="active">Subscribe Staff </a></li>
                        </ul>
                    </div>

                </li> -->
                <li class="nav-item" *ngIf="moduleName == 'Timtable'">
                    <a class="nav-link" routerLink="/">Timetable Reports</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<router-outlet></router-outlet>

<footer class="fixed-bottom bg-white footer_main p-2">
    <p class="mb-0">Copyright © 2023 Smart School, All Rights Reserved. Powered by <b> Bosco Soft Tech</b></p>
</footer>