.navbar_bg {
    // background: #5A5BAA;
    // background :linear-gradient(175deg, #fc3a3a, #6dd71f);
    // background: linear-gradient(45deg, #6768c7, #aa2fbf);
    // background: linear-gradient(45deg, #6768c7, #db6eee);
    background: #4748ad !important;

    .navbar-brand {
        color: #fff;
    }

    .nav-link {
        color: #fff;
    }

    .dropdown .btn {
        color: #fff;
    }
}

.footer_main {
    // height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.dropdown-item {
    padding: 10px;


    &:hover {
        background-color: #e9e9e9;
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.dropdown-toggle:hover>.show {
    display: block;
}

// .dropdown-menu .active {
//     background-color: #2196F3 !important;
//     color: #fff !important;

// }
.active {
    background: #4749ae !important;
    color: white !important;

}
.dropdown-menu {
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: 6px;
    animation: slide 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);


}

@keyframes slide {
    0% {
        left: 50px;
    }

    100% {
        left: 0;
    }
}

.nav-item {
    padding-right: 14px;


    .active {
        background-color: #fff !important;
        color: black !important;
        border-radius: 5px;
    }
}

::ng-deep.mat-menu-item {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 38px !important;
    display: flex !important;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
    font-size: 12px !important;
    align-items: center;
}

::ng-deep.mat-menu-panel {
    font-size: 12px !important;
    z-index: 2000;
    max-height: calc(100vh - 100px) !important;
}

a {
    cursor: pointer;
}

::ng-deep.mat-menu-submenu-icon {
    position: absolute;
    top: 50%;
    right: 7px !important;
    transform: translateY(-50%);
    width: 5px;
    height: 10px;
    fill: currentColor;
}
@media (max-width: 980px) { 
    .mobile_nav_toggle{
        display: initial !important;
    }  
}


.mobile_nav_toggle{
    display: none;
}

.btn_close{
    background-color: red;
    border-radius: 50px;
padding: 5px;
    svg{
        height: 20px;
        width: 24px;
        color: white;
    }
}

.offcanvas{
    background-color: #4748ad;

    .nav-item a{
        color: white;
        padding: 10px !important;
    }
    .nav-item .active{
        color: rgb(218, 25, 25);
    }
}

.active {
    background-color: #3498db;
    color: #fff;
  }