<div class="breadcrumb_with_back_option ">
    <div class="breadcrumb ms-3 mb-0">
        Staff Substitution
    </div>

</div>

<div class="content-wrapper">

    <div class="mb-2 text-end">
        <button class="btn btn-success" routerLink="/AddStaffSubstitude">
            Add
        </button>
    </div>
    <div class="card">
        <div class="card-body">

            <div class="row align-items-center">
                <div class="col-lg-3"></div>
                <div class="col-lg-1">
                    <strong>From Date:</strong>
                </div>
                <div class="col-lg-3">

                    <div class="input-group">
                        <!-- <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </div> -->
                        <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="fromDate"
                            placeholder="Enter From Date" class="form-control" id="text-input">
                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    </div>
                </div>
                <div class="col-lg-1">
                    <strong>To Date:</strong>
                </div>
                <div class="col-lg-3">

                    <div class="input-group">
                        
                        <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Enter To Date"
                            class="form-control" id="text-input" [(ngModel)]="toDate"  min="{{fromDate}}">
                        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                    </div>
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-info" (click)="getSubtituteStaffList()">Show</button>
                </div>
            </div><br>



            <div class="overflow-auto">
                <table mat-table [dataSource]="dataSource">
                    <!-- Position Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container>
                                {{ element.date | date : 'dd/MM/yyyy' }}
                            </ng-container>

                        </td>
                    </ng-container>
                    <!-- Position Column -->
                    <ng-container matColumnDef="class">
                        <th mat-header-cell *matHeaderCellDef> Class </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container>
                                {{ element.class }}
                            </ng-container>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef> Subject </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container>
                                {{ element.subject }}
                            </ng-container>

                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="staff">
                        <th mat-header-cell *matHeaderCellDef> Staff </th>
                        <td mat-cell *matCellDef="let element"> <ng-container>
                                {{element.staff}}

                            </ng-container> </td>
                    </ng-container>


                    <!-- Name Column -->
                    <ng-container matColumnDef="day">
                        <th mat-header-cell *matHeaderCellDef> Day </th>
                        <td mat-cell *matCellDef="let element"> <ng-container>
                                {{element.day}}
                            </ng-container> </td>
                    </ng-container>
                    <ng-container matColumnDef="period">
                        <th mat-header-cell *matHeaderCellDef> Period </th>
                        <td mat-cell *matCellDef="let element"> <ng-container>
                                {{element.period}}
                            </ng-container> </td>
                    </ng-container>
                    <ng-container matColumnDef="subtitute">
                        <th mat-header-cell *matHeaderCellDef> Substituted With </th>
                        <td mat-cell *matCellDef="let element"> <ng-container>
                                {{element.substituted_With}}
                            </ng-container> </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <div class="ps-2">
                                <div class="d-flex align-items-center">
                                    <!-- <button mat-icon-button class="text-success" data-bs-toggle="modal"
                                        data-bs-target="#addCreateShift"><svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg></button> -->
                                    <button mat-icon-button class="text-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" (click)="onDelete(element)"
                                            fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                        </svg>
                                    </button>

                                </div>

                            </div>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="8" style="text-align: center;">No data found!
                        </td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>


        </div>


    </div>





</div>