<div class="breadcrumb_with_back_option ">
    <div class="breadcrumb ms-3 mb-0">
     <a routerLink="/CreateShiftTiming">Create Shift Timing</a> <span class="ms-1 me-1">/</span>  Add Shift
    </div>
    
</div>
<div class="content-wrapper p-3">


    <div class="card">
        <div class="card-body">
            <div class=" d-flex justify-content-between align-items-center">
                <p class="fw-bold">Timetable Name : <span class="text-primary">{{timetableName || '-'}}</span></p>


                <div class="d-flex align-items-center">
                    <div class="form-check me-3">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="activeStatus" [disabled]="ischecked" (change)="onChangeStatus()" >
                        <label for="" class="form-check-label">Set as Active </label>
                    </div>
                    <button class="btn btn-success btn-sm" (click)="addShift()">Add Shift</button>
                </div>
            </div>

            <div class="overflow-auto">
                <table class="table custum_table mt-2 mb-2">
                    <thead>
                        <tr>
                            <th >Shift</th>
                            <th>Classes</th>
                            <th >Start Time </th>
                            <th >End Time </th>
                            <th> No of Days</th>
                            <th >No of Periods</th>
                            <th >Action</th>


                        </tr>
                    </thead>
                    <tbody *ngIf="shiftTimingList.length > 0">
                        <tr *ngFor="let item of shiftTimingList">
                            <td>{{item.shift}}</td>
                            <td>{{item.classes}}</td>
                            <td>{{item.start_Time}}</td>
                            <td>{{item.end_Time}}</td>
                            <td>{{item.no_of_Days}}</td>
                            <td>{{item.no_of_Periods}}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <button mat-icon-button class="text-success" data-bs-toggle="modal"
                                        data-bs-target="#editCreateShift"><svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg></button>
                                    <button mat-icon-button class="text-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                        </svg>
                                    </button>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="shiftTimingList.length == 0">
                        <tr>
                            <td colspan="7" style="text-align: center;">No data found!</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>

    <div class="card mt-3" *ngIf="isAddShiftShow">
        <div class="card-body">
            <h2>Create Shift</h2>
            <hr>
            <form action="" [formGroup]="shiftForm">
            <div class="mb-2">
               
                    <div class="row mt-3">
                        <div class="col-lg-4">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Shift Name</mat-label>
                                    <input matInput placeholder="Shift Name" formControlName="shiftName">

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <!-- <mat-form-field appearance="outline">
                                <mat-label>Classes</mat-label>
                                <mat-select [formControl]="toppings" multiple>
                                    <mat-select-trigger>
                                        {{toppings.value?.[0] || ''}}
                                        <span *ngIf="(toppings.value?.length || 0) > 1"
                                            class="example-additional-selection">
                                            (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ?
                                            'other' : 'others'}})
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let topping of toppingList"
                                        [value]="topping">{{topping}}</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                                <!-- <mat-form-field appearance="outline">
                                <mat-label>Classes</mat-label>
                                <mat-select [formControl]="toppings" multiple>
                                    <mat-select-trigger>
                                        {{ toppings.value?.[0] || '' }}
                                        <span *ngIf="(toppings.value?.length || 0) > 1"
                                            class="example-additional-selection">
                                            (+{{ (toppings.value?.length || 0) - 1 }} {{ toppings.value?.length === 2 ?
                                            'other' : 'others' }})
                                        </span>
                                    </mat-select-trigger>
                                    <mat-select-search>
                                        <input matInput [formControl]="searchControl"
                                            placeholder="Search for a topping">
                                    </mat-select-search>
                                    <mat-option *ngFor="let topping of filteredToppingList" [value]="topping">
                                        {{ topping }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Classes</mat-label>
                                    <mat-select [formControl]="toppings" multiple>
                                        <mat-select-trigger>
                                            {{ selectedToppingsText }}
                                        </mat-select-trigger>
                                        <input matInput placeholder="Search Class" formControlName="class"
                                            (input)="applyFilter($event)" class="search-mat-option">
                                        <mat-option *ngFor="let item of filteredClassList" [value]="item.class">
                                            {{ item.class }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <!-- <mat-form-field appearance="outline">
                                <mat-label>Start Time</mat-label>
                                <input matInput placeholder="Start Time">

                            </mat-form-field> -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Start Time</mat-label>
                                    <input matInput [ngxTimepicker]="picker" formControlName="startTime"
                                        placeholder="Select time">
                                    <ngx-material-timepicker #picker></ngx-material-timepicker>
                                </mat-form-field>

                                <!-- <div class="toggle-example">
                                <input [ngxTimepicker]="toggleTimepicker" readonly>
                                <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                                <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                            </div> -->
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>End Time</mat-label>
                                    <input matInput [ngxTimepicker]="picker1" formControlName="endTime"
                                        placeholder="Select time">
                                    <ngx-material-timepicker #picker1></ngx-material-timepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>No of Days per Week</mat-label>
                                    <input matInput placeholder="No of Days per Week" formControlName="noOfdaysPerWeek">

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>No of Periods per Day</mat-label>
                                    <input matInput placeholder="No of Periods per Day"
                                        formControlName="noOfPeriodsPerDay" (change)="onChangePeriod()">

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Starting Day</mat-label>
                                    <mat-select formControlName="startingDay">
                                        <mat-option *ngFor="let item of dayList"  value="{{item.weekDays}}">{{item.dayName}}</mat-option>
                                        <!-- <mat-option value="7">Day 7</mat-option>
                                        <mat-option value="1">Day 1</mat-option>
                                        <mat-option value="2">Day 2</mat-option>
                                        <mat-option value="3">Day 3</mat-option>
                                        <mat-option value="4">Day 4</mat-option>
                                        <mat-option value="5">Day 5</mat-option>
                                        <mat-option value="6">Day 6</mat-option> -->

                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-primary mt-2" (click)="showPeriods()">Show Periods</button>
                        </div>
                    </div>
                
            </div>


            <div class="overflow-auto" *ngIf="formControl.length > 0">
                <table class="table custum_table table-bordered">
                    <thead>
                        <tr>
                            <th>Days/ Periods</th>
                            <th *ngFor="let item of colvalues; let i = index">
                                Period {{i+1}}</th>

                        </tr>
                    </thead>
                    <tbody formArrayName="shiftFormArr"
                        *ngFor="let item of formControl; let i = index">
                        <tr [formGroupName]="i">
                            <td class="days_coloumn">{{item.value.day}}</td>
                            <td *ngFor="let data of colvalues; let j = index" data-bs-toggle="modal" #openModal (click)="addPeriods(item, data.col, i)" data-bs-target="#addtimings" [ngStyle]="{'background-color': item.value[data.col][0].periodType == 'Break' ? 'gainsboro' : ''}">{{item.value[data.col][0].startTime}} - {{item.value[data.col][0].endTime}}</td>
                            <!-- <td></td>
                            <td class="break"></td>
                            <td></td>
                            <td class="break"> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td></td>
                            <td></td> -->

                        </tr>
                        <!-- <tr>
                            <td class="days_coloumn">Monday</td>
                            <td>08:00 AM - 09:00 AM </td>
                            <td>09:00 AM - 10:00 AM</td>
                            <td class="break">10:00 AM - 10:15 AM</td>
                            <td>10:15 AM - 11:15 AM</td>
                            <td class="break">11:15 AM - 12:15 PM </td>
                            <td>12:15 PM - 01:15 PM </td>
                            <td>01:15 PM - 01:30 PM </td>
                            <td>01:30 PM - 02:00 PM </td>
                            <td>02:00 PM - 02:15 PM </td>
                            <td>02:15 PM - 02:20 PM </td>
                            <td>02:20 PM - 03:30 PM</td>

                        </tr>
                        <tr>
                            <td class="days_coloumn">Tuesday</td>
                            <td>08:00 AM - 09:00 AM </td>
                            <td>09:00 AM - 10:00 AM</td>
                            <td class="break">10:00 AM - 10:15 AM</td>
                            <td>10:15 AM - 11:15 AM</td>
                            <td class="break">11:15 AM - 12:15 PM </td>
                            <td>12:15 PM - 01:15 PM </td>
                            <td>01:15 PM - 01:30 PM </td>
                            <td>01:30 PM - 02:00 PM </td>
                            <td>02:00 PM - 02:15 PM </td>
                            <td>02:15 PM - 02:20 PM </td>
                            <td>02:20 PM - 03:30 PM</td>

                        </tr>
                        <tr>
                            <td class="days_coloumn">Wednesday</td>
                            <td>08:00 AM - 09:00 AM </td>
                            <td>09:00 AM - 10:00 AM</td>
                            <td class="break">10:00 AM - 10:15 AM</td>
                            <td>10:15 AM - 11:15 AM</td>
                            <td class="break">11:15 AM - 12:15 PM </td>
                            <td>12:15 PM - 01:15 PM </td>
                            <td>01:15 PM - 01:30 PM </td>
                            <td>01:30 PM - 02:00 PM </td>
                            <td>02:00 PM - 02:15 PM </td>
                            <td>02:15 PM - 02:20 PM </td>
                            <td>02:20 PM - 03:30 PM</td>

                        </tr>
                        <tr>
                            <td class="days_coloumn">Thursday</td>
                            <td>08:00 AM - 09:00 AM </td>
                            <td>09:00 AM - 10:00 AM</td>
                            <td class="break">10:00 AM - 10:15 AM</td>
                            <td>10:15 AM - 11:15 AM</td>
                            <td class="break">11:15 AM - 12:15 PM </td>
                            <td>12:15 PM - 01:15 PM </td>
                            <td>01:15 PM - 01:30 PM </td>
                            <td>01:30 PM - 02:00 PM </td>
                            <td>02:00 PM - 02:15 PM </td>
                            <td>02:15 PM - 02:20 PM </td>
                            <td>02:20 PM - 03:30 PM</td>

                        </tr>
                        <tr>
                            <td class="days_coloumn">Friday</td>
                            <td>08:00 AM - 09:00 AM </td>
                            <td>09:00 AM - 10:00 AM</td>
                            <td class="break">10:00 AM - 10:15 AM</td>
                            <td>10:15 AM - 11:15 AM</td>
                            <td class="break">11:15 AM - 12:15 PM </td>
                            <td>12:15 PM - 01:15 PM </td>
                            <td>01:15 PM - 01:30 PM </td>
                            <td>01:30 PM - 02:00 PM </td>
                            <td>02:00 PM - 02:15 PM </td>
                            <td>02:15 PM - 02:20 PM </td>
                            <td>02:20 PM - 03:30 PM</td>

                        </tr> -->
                    </tbody>
                </table>
            </div>
        </form>
        </div>
        <div class="final_submit_btns card-footer" *ngIf="formControl.length > 0">
            <button class="btn btn-success ">
                Save
            </button>
            <button class="btn btn-secondary ms-2">
                Cancel
            </button>
        </div>
    </div>



</div>

<div class="modal fade" id="addtimings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-zoom " role="document">
        <div class="modal-content custum_modal_dialog">
            <div class="modal-header">
                <h2 class="modal-title mb-0" id="exampleModalLabel">Add Timings </h2>
                <button type="button" mat-mini-fab color="secondary" data-bs-dismiss="modal" class="custum_modal_close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="periodForm">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Start Time</label>
                            <input type="time" class="form-control" formControlName="startTime">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">End Time</label>
                            <input type="time" class="form-control" formControlName="endTime">

                        </div>
                    </div>

                    <div class="col-lg-6 d-flex align-items-center ">
                        <div class="form-check mt-2">
                            <input type="radio" name="periodType" value="Period" class="form-check-input" id="Period" formControlName="periodType">
                            <label for="Period" class="form-check-label">Period</label>
                        </div>
                        <div class="form-check mt-2 ms-2">
                            <input type="radio" name="periodType" value="Break" class="form-check-input" id="Break" formControlName="periodType">
                            <label for="Break" class="form-check-label">Break</label>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeModal>Cancel</button>
                <button type="button" mat-raised-button color="primary" class="ms-2"  (click)="createTiming()">Save</button>
            </div>
        </div>
    </div>
</div>