@import "~ng-pick-datetime/assets/style/picker.min.css";


.form-group {
    margin-bottom: 10px;

    label {
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 600;
    }
}

.custum_table {
    thead {
        background: #5e4cb8e0 !important;
        color: white;
    }

    tbody {
        vertical-align: middle;
    }
}

.custum_table tr th p {
    margin-bottom: 2px;
}

.custum_modal_close {
    position: absolute;
    right: -46px;
    top: -47px;
    background: #ffffff9c;
}

.modal.fade .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0, 0)scale(.5);
    transform: translate(0, 0)scale(.5);
}

.modal.show .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0, 0)scale(1);
    transform: translate(0, 0)scale(1);
}

.form-check {
    .form-check-label {
        font-size: 14px;
        font-weight: 600;
    }
}

.mat-form-field-infix {
    padding: 0px !important;
    border-top: 0px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}

.search-mat-option {
    padding: 10px;
    width: 90%;
}

// .mat-form-field-appearance-outline .mat-form-field-outline {
//     border: 2px solid #000;
//     color: rgb(17 100 177);
// }

.mat-form-field-appearance-outline .mat-focused .mat-form-field-outline-thick {
    border: 2px solid #1c19cf;
    color: #1c19cf;
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}

.hidden {
    display: none;
}

::ng-deep.ngx-timepicker-control__arrow {
    font-size: 9px !important;
    color: #0006;
    cursor: pointer;
    transition: color .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
::ng-deep.ngx-timepicker {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid rgba(0,0,0,.12) !important;
    padding: 10px;
    border-radius: 10px;
}

::ng-deep.ngx-timepicker-control__arrows{
    right: -2px;
    top: -5px;
}

.time-icon {
    position: absolute; /* Adjust positioning as needed */
    top: 45%; /* Adjust positioning as needed */
    transform: translateY(-50%); /* Adjust positioning as needed */
    right: 0;
    color: #333; /* Adjust icon color as needed */
  }