<div class="content-wrapper p-3">
    <div class="breadcrumb ms-3">
        Add Shift
    </div>

    <div class="card">
        <div class="card-body">
            <div class="">
                <p class="fw-bold">Timetable Name : <span class="text-primary">TT 2023</span></p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="">Shift Name</label>
                        <input type="text" class="form-control" placeholder="Shift Name">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="">Shift Name</label>
                        <input type="text" class="form-control" placeholder="Shift Name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>